*{
	margin:0;
	padding:0;
	font-family: "微软雅黑"
}
.container{
	width: 1920px;
	height:1080px;
	background: black;
	background-image: url(../images/bg1.jpg);
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.logo-number{
	position: absolute;
	height: 210px;
	padding-left: 132px;
	z-index: 99;
}
.shushuo-logo{
	position: absolute;
	right: 130px;
	bottom: 38px;
}
.logo-number>img{
	display: block;
}
.logo-number>img#logo{
	margin-top: 133px;
}
.logo-number>img#bear1{
	margin-top: 188px;
}
.logo-number>h1.title{
	color:#f42442;
	font-size: 33px;
	margin-top: 34px;
}
.logo-number>p.count{
	font-size: 83px;
	color: white;
	margin-top: 28px;
}
.map-container{
	position: absolute;
}
#worldmap{
	z-index: 1;
	width: 1398px;
	height: 753px;
	right: 120px;
	top: 210px;
}
#worldmap path,#chinamap path{
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	opacity: 0.7;
}
#worldmap path.render,#chinamap path.render {
  -webkit-animation: dash 4s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.42,0,0.9,1);
}

@-webkit-keyframes dash {
  to {
  	stroke-dasharray: 10000;
    stroke-dashoffset: 0;
  }
}
#chinamap{
	z-index: 2;
	width: 200px;
	height: 240px;
	right: 362px;
	top: 420px;
}
#chinamap path{
	opacity: 0.2;
}
#china #main{
	opacity: 1
}
#shooter{
	width: 614px;
	height: 614px;
	background: url(../images/shooter.png);
	position: absolute;
	z-index: 3;
	display: none;
}
#float-layer{
	position: absolute;
	z-index: 100;
	width: 0;
	height: 0;
	/*width: 1658px;
	height: 722px;*/
	top: 238px;
	right: 126px;
	background: url(../images/float_bg.png) right top;
	border:1px solid rgba(21,54,113,.72);
	overflow: hidden;
}
#float-layer>h1{
	color: #f92a69;
	font-size: 48px;
	margin-top: 74px;
	margin-left: 88px;
	padding: 0 48px 28px 30px;
	border-bottom: 1px solid #0077bb;
	display: inline-block;
}
#float-layer>#bear2{
	position: absolute;
	z-index: 100;
	left: 104px;
	bottom: 130px;
}
#float-layer>#bear2>h2{
	text-align: center;
	margin-top: 10px;
	color: white;
	font-size: 14px;
}